body {
  font-family: sans-serif;
  width: 800px;
  margin: 0 auto 0 auto;
  line-height:130%;
  background-color:#ddd;
}

a:link {
}

a:visited {
}

h1 a:visited, h1 a:link {
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
}

table {
  border: none;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  border-spacing: 0;
  padding: 4px 10px;
}

hr {
  clear: both;
}
