body {
  font-family: sans-serif;
  width: 800px;
  margin: 0 auto 0 auto;
  line-height:130%;
  background-color:#dbd4bf;
  color:#188;
}

a:link {
}

a:visited {
}

h1 a:visited, h1 a:link {
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
}

table {
  border: none;
  border-collapse: collapse;
}

table td {
  border-spacing: 0;
  padding: 4px 50px;
}

table th {
  border-spacing: 0;
  padding: 8px 50px;
  font-size: 30px;
}

hr {
  clear: both;
}
