<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="John Stechschulte" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" sizes="16x16 32x32 48x48" />
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <br>
    <section>
      {{ content }}
    </section>
    <br><br>
    <center>
    <a href="index.html">Save the Dates</a>
    <img src="assets/marker.png" width="13px"> <a href="colorado.html">Colorado,
      19 August 2018</a>
    <img src="assets/marker.png" width="13px"> <a href="colombia.html">Colombia,
      8 septiembre 2018</a>
    <img src="assets/marker.png" width="13px"> <a href="index.html">Reserva
      estos días</a></center>
    <br>
  </body>
</html>

