<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="John Stechschulte" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" sizes="16x16 32x32 48x48" />
    <link href="https://fonts.googleapis.com/css?family=Esteban" rel="stylesheet">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <section>
      <center>
        {{ content }}
      </center>
    </section>
  </body>
</html>

